<form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.form)" class="login-form">
    <div class="row">
        <div class="col-4"><label>Email</label></div>
        <div class="col-4"><input class="form-control" type="email" name="userEmail" ngModel /></div>
    </div>
    <div class="row mt-2">
        <div class="col-4"><label>Password</label></div>
        <div class="col-4"><input class="form-control" type="password" name="password" ngModel /></div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-2">
            <button class="form-control btn-info">Login</button>
        </div>
    </div>
</form>