<form #subjectForm="ngForm" (ngSubmit)="addSubject(subjectForm.value)">
    <div class="row justify-content-center col-8">

        <div class="col-4">
            <label class="mr-2">Title</label><input ngModel name="title" />
        </div>
        <div class="col-4">
            <label class="mr-2">Marks</label><input ngModel type="number" name="marks" />
        </div>
    </div>
    <div class="row justify-content-end col-6">
        <button class="btn-success"
            [disabled]="(subjectForm.value && !subjectForm.value.title && !subjectForm.value.marks)?true:false">Add
            Subject</button>
    </div>
</form>